$text-color: #ffffff;
$red-darker: #791f00;
$red-primary: #aa1e22;
$red-lighter: #d22024;
$focus-border: #122b40;

.sidebar {
    .user-panel {
        height: 112px;

        a:hover {
            color: $text-color;
        }
    }

    .menu-title {
        color: $text-color;
        padding: 16px 4px 4px 15px;
        font-weight: bold;
        font-size: 18px;
    }
}

#crudTable {
    .btn {
        font-size: 0;

        i.fa {
            color: #333;
            font-size: 18px;

            opacity: .35;
            display: block;
            transition: opacity .4s;

            &:hover {
                opacity: .8;
            }
        }
    }
}

@media (min-width: 768px) {
    .sidebar-toggle {
        display: none;
    }
}

@import "skin-motivo";