body.skin-motivo .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: $red-darker;
}

body.skin-motivo .btn-primary {
    color: $text-color;
    background-color: $red-primary;
    border-color: $red-darker;
}

body.skin-motivo .btn-primary:focus,
body.skin-motivo .btn-primary.focus {
    color: $text-color;
    background-color: $red-lighter;
    border-color: $focus-border;
}

body.skin-motivo .btn-primary:hover {
    color: $text-color;
    background-color: $red-lighter;
    border-color: $red-darker;
}

body.skin-motivo .btn-primary:active,
body.skin-motivo .btn-primary.active,
body.skin-motivo .open > .dropdown-toggle.btn-primary {
    color: $text-color;
    background-color: $red-lighter;
    border-color: $red-darker;
}

body.skin-motivo .btn-primary:active:hover,
body.skin-motivo .btn-primary.active:hover,
body.skin-motivo .open > .dropdown-toggle.btn-primary:hover,
body.skin-motivo .btn-primary:active:focus,
body.skin-motivo .btn-primary.active:focus,
body.skin-motivo .open > .dropdown-toggle.btn-primary:focus,
body.skin-motivo .btn-primary:active.focus,
body.skin-motivo .btn-primary.active.focus,
body.skin-motivo .open > .dropdown-toggle.btn-primary.focus {
    color: $text-color;
    background-color: $red-darker;
    border-color: $focus-border;
}

body.skin-motivo .btn-primary:active,
body.skin-motivo .btn-primary.active,
body.skin-motivo .open > .dropdown-toggle.btn-primary {
    background-image: none;
}

body.skin-motivo .btn-primary.disabled,
body.skin-motivo .btn-primary[disabled],
body.skin-motivo fieldset[disabled] .btn-primary,
body.skin-motivo .btn-primary.disabled:hover,
body.skin-motivo .btn-primary[disabled]:hover,
body.skin-motivo fieldset[disabled] .btn-primary:hover,
body.skin-motivo .btn-primary.disabled:focus,
body.skin-motivo .btn-primary[disabled]:focus,
body.skin-motivo fieldset[disabled] .btn-primary:focus,
body.skin-motivo .btn-primary.disabled.focus,
body.skin-motivo .btn-primary[disabled].focus,
body.skin-motivo fieldset[disabled] .btn-primary.focus,
body.skin-motivo .btn-primary.disabled:active,
body.skin-motivo .btn-primary[disabled]:active,
body.skin-motivo fieldset[disabled] .btn-primary:active,
body.skin-motivo .btn-primary.disabled.active,
body.skin-motivo .btn-primary[disabled].active,
body.skin-motivo fieldset[disabled] .btn-primary.active {
    background-color: $red-primary;
    border-color: $red-darker;
}

body.skin-motivo .btn-primary .badge {
    color: $red-primary;
    background-color: $text-color;
}

body.skin-motivo .pagination>.active>a,
body.skin-motivo .pagination>.active>a:focus,
body.skin-motivo .pagination>.active>a:hover,
body.skin-motivo .pagination>.active>span,
body.skin-motivo .pagination>.active>span:focus,
body.skin-motivo .pagination>.active>span:hover {
    background-color: $red-primary;
    border-color: $red-darker;
}