/*
 * Skin: Motivo
 * ------------
 */
@import "../../../vendor/almasaeed2010/adminlte/build/bootstrap-less/mixins.less";
@import "../../../vendor/almasaeed2010/adminlte/build/bootstrap-less/variables.less";
@import "variables";
@import "../../../vendor/almasaeed2010/adminlte/build/less/mixins.less";

.skin-motivo {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@motivo; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@motivo, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@motivo, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(@motivo, 5%));
    }

    li.user-header {
      background-color: @motivo;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@motivo);
}
